<section class="recipe-listing">
  Recipe Listing
</section>

{% schema %}
  {
    "name": "Recipe Listing",
    "settings": [
      {
        "type": "text",
        "id": "recipe_main_title",
        "label": "Title"
      }
    ]
  }
{% endschema %}