<section class="recipe-listing">
  <div class="container">
    <h2>Recipe Listing</h2>
  </div>
</section>

{% schema %}
  {
    "name": "Recipe Listing",
    "settings": [
      {
        "type": "text",
        "id": "recipe_main_title",
        "label": "Title"
      }
    ],
    "presets": [
      {
        "name": "Recipe Listing"
      }
    ]
  }
{% endschema %}