<div class="recipe-list">
  {% assign recipes = shop.metaobjects.recipes.values %}
  {% if recipes != blank %}
    {% for recipe in recipes %}
      <div class="recipe-col">
        <h4>{{ recipe.title | escape }}</h4>
        <div class="rte">
          {{ recipe.content | metafield_tag }}
        </div>
        <div class="ingredients">
          {% for ing in recipe.ingredients %}
            {{ ing }}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Recipes listing",
    "settings": [],
    "presets": [
      {
    "name": "Recipes listing"
      }
    ]
  }
{% endschema %}