<section class="single-recipe">
    <div class="container">
        <h1>{{ metaobject.title }}</h1>
    </div>
</section>
  
  {% schema %}
    {
      "name": "Single Recipe",
      "presets": [
        {
          "name": "Single Recipe"
        }
      ]
    }
  {% endschema %}